@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

	<script>
        Swal.fire({
            position: "center",
            icon: "warning",
            html: "Bu sayfada iletişim bilgileri, iletişim formu ve harita statiktir",
            showConfirmButton: true
        });
	</script>

    <!-- BREADCRUMB -->
    <div class="hero-wrap" style="background-image: url('/Template/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></span> <span>İLETİŞİM</span></p>
                    <h1 class="mb-3 bread">İletişim</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h3">İletişim Bilgileri</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-4 d-flex">
                    <div class="info bg-white p-4" style="text-align: center;">
                        <p style="font-size: 12px;"><span style="font-weight: 600; font-size:15px;">Adres:</span> Mavi Mah. Deniz Sk. Bodrum/MUĞLA TÜRKİYE</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="info bg-white p-4" style="text-align: center;">
                        <p style="font-size: 12px;"><span style="font-weight: 600; font-size:15px;">Teelefon No:</span> <a href="tel:+90 312 123 45 67">+90 312 123 45 67</a></p>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="info bg-white p-4" style="text-align: center;">
                        <p style="font-size: 12px;"><span style="font-weight: 600; font-size:15px;">Email:</span> <a href="mailto:iletisim@royalestate.com">iletisim@royalestate.com</a></p>
                    </div>
                </div>
            </div>
            <div class="row block-9">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="#" class="bg-white p-5 contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ad Soyad">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Konu">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>

                <div class="col-md-6 d-flex">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1hDMrykjE5319VIeJvZkSB21YabU&hl=tr&ehbc=2E312F" width="100%" height="100%"></iframe>
                    @* <div id="map" class="bg-white"></div> *@
                </div>
            </div>
        </div>
    </section>