

    <!-- ICONS - STATIC -->
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-pin"></span></div></div>
                        <div class="media-body p-2 mt-2">
                            <h3 class="heading mb-3">Geniş teras ve barbekü alanıyla sosyal yaşam imkanı.</h3>
                            <p>Muhteşem deniz manzarasıyla huzur dolu yaşam alanı.</p>
                        </div>
                    </div>      
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
                        <div class="media-body p-2 mt-2">
                            <h3 class="heading mb-3">Akıllı ev teknolojisiyle donatılmış modern yaşam konforu.</h3>
                            <p>Özel yüzme havuzuyla ferahlatıcı ve lüks deneyim.</p>
                        </div>
                    </div>    
                </div>
                <div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
                    <div class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-house"></span></div></div>
                        <div class="media-body p-2 mt-2">
                            <h3 class="heading mb-3">Güvenlikli site içerisinde huzurlu ve güvenli yaşam.</h3>
                            <p>Geniş ve bakımlı bahçede doğayla iç içe yaşam.</p>
                        </div>
                    </div>      
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-purse"></span></div></div>
                        <div class="media-body p-2 mt-2">
                            <h3 class="heading mb-3">Making Money</h3>
                            <p>Spa ve sauna odalarıyla sağlıklı ve rahatlatıcı yaşam.</p>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </section>