

    <!-- NEWSLETTER -->
    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Mail Bültenimize Abone Olun</h2>
                        <p>Son güncel ilanlardan ve sektörle ilgili gelişmelerden haberdar olmak için, mail bültenimize abone olun ve trendleri yakalayın !</p>
                        <div class="row d-flex justify-content-center mt-5">
                            <div class="col-md-8">
                                <form class="subscribe-form">
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control" placeholder="Mail adresinizi yazınız...">
                                        <input type="button" value="Kayıt Ol" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>