

    <!-- FOOTER -->
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Royalestate</h2>
                        <p>Konforlu yaşam alanları ve hayallerinizdeki evi bulmanız için buradayız, size özel çözümler sunuyoruz.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Alımlar</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Satılık Ev</a></li>
                            <li><a href="#" class="py-2 d-block">Açık Evler</a></li>
                            <li><a href="#" class="py-2 d-block">Yeni Listeleme</a></li>
                            <li><a href="#" class="py-2 d-block">Son Zamanlarda Azalt</a></li>
                            <li><a href="#" class="py-2 d-block">Off-Market Evleri</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Satımlar</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Evinizi Satın</a></li>
                            <li><a href="#" class="py-2 d-block">Bir Ev Değerlendirmesi Alın</a></li>
                            <li><a href="#" class="py-2 d-block">Yerel Ev Fiyatları</a></li>
                            <li><a href="#" class="py-2 d-block">Klavuzlar &amp; Kurallar</a></li>
                            <li><a href="#" class="py-2 d-block">Diğerleri</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Bize Ulaşın</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Mavi Mah. Deniz Sk. Bodrum/MUĞLA TÜRKİYE</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+90 312 123 45 67</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">iletisim@royalestate.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Bu Web Sitesi <a style="text-decoration: underline;" href="https://oguzhanturann.com.tr/" target="_blank">OĞUZHAN TURAN</a> Tarafından Yapılmıştır.</p>
                </div>
            </div>
        </div>
    </footer>