@model CreatePropertyTypeDto
@{
    ViewData["Title"] = "PropertyTypeCreate";
    Layout = "_LayoutAdmin";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Emlak Tipi Ekle</h4>
            <form class="forms-sample" asp-area="Admin" asp-controller="PropertyType" asp-action="PropertyTypeCreate" method="post">
                <div class="form-group">
                    <label for="PropertyTypeName">Ad</label>
                    <input type="text" class="form-control" asp-for="PropertyTypeName" id="PropertyTypeName" maxlength="50">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <a asp-area="Admin" asp-controller="PropertyType" asp-action="PropertyTypeList" class="btn btn-light">Geri</a>
            </form>
        </div>
    </div>
</div>