
    <!-- NAV TOP -->
    <div class="top">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <p class="social d-flex">
                        <a href="#" style="color: #d0d0d0;"><span class="icon-facebook"></span></a>
                        <a href="#" style="color: #d0d0d0;"><span class="icon-twitter"></span></a>
                        <a href="#" style="color: #d0d0d0;"><span class="icon-google"></span></a>
                        <a href="#" style="color: #d0d0d0;"><span class="icon-pinterest"></span></a>
                    </p>
                </div>
                <div class="col d-flex justify-content-end">
                    <p class="num" style="color: #d0d0d0;"><span class="icon-phone"></span>+90 312 123 45 67</p>
                </div>
            </div>
        </div>
    </div>